---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/basic-grid.css';
import '../styles/proj-images_comp.css';
import '../styles/header.css';
import '../styles/lines.css';

import b1 from '../media/Projects/book/b1.jpg';
import b2 from '../media/Projects/book/b2.jpg';
import b3 from '../media/Projects/book/b3.jpg';
import b4 from '../media/Projects/book/b4.jpg';
import b5 from '../media/Projects/book/b5.jpg';
import b6 from '../media/Projects/book/b6.jpg';
import b7 from '../media/Projects/book/b7.jpg';
import b8 from '../media/Projects/book/b8.jpg';
import b9 from '../media/Projects/book/b9.jpg';
import b10 from '../media/Projects/book/b10.jpg';
import b11 from '../media/Projects/book/b11.jpg';
import b12 from '../media/Projects/book/b12.jpg';
import b13 from '../media/Projects/book/b13.jpg';
import b14 from '../media/Projects/book/b14.jpg';
import b15 from '../media/Projects/book/b15.jpg';
import b16 from '../media/Projects/book/b16.jpg';
import b17 from '../media/Projects/book/b17.jpg';
import b18 from '../media/Projects/book/b18.jpg';
import b19 from '../media/Projects/book/b19.jpg';
import b20 from '../media/Projects/book/b20.jpg';
import b21 from '../media/Projects/book/b21.jpg';
import b22 from '../media/Projects/book/b22.jpg';
import b23 from '../media/Projects/book/b23.jpg';

---

<MainLayout title="work">


  <header class="main-header">
    <nav class="navigation">
        <ul>
            <li><a href="/" class="nav-link">~DOMINIC RISHE</a></li>
        </ul>
        <ul class="nav-links-right">
            <li><a href="/work/" class="nav-link">WORK</a></li>
            <!-- Add more links here if needed -->
        </ul>
    </nav>
</header>



  <section id="section-hero">
    <h2>
      <small>SPRING 2024 / RHODE ISLAND</small>
      <span></span>
      <strong>ONE OF ONE OF A KIND</strong>
    </h2>
    <div class="media-container">
      <figure class="media">
        <img src={b6.src} alt="fashion">
      </figure>
      <small></small>
    </div>
    <div class="pattern-container" id="pattern1">
      <div class="lvl1"></div>
      <div class="lvl2"></div>
  </div>
  </div>
    <p class="text">
      A selection of spreads from my RISD thesis book, "One of One of A Kind". <br><br> An excerpt from the abstract:<br>"Through a series of experimental everyday domestic objects, each a unique output from a generative system, or one of one of a kind, I suggest that this technification of the creative process is an evolution of craft, and highlight the ongoing and increasing relevance of these old ideas to the contemporary landscape of artists, designers, craftspeople, and creatives of all types. In an accompanying collection of essays, I explore this point of view and speculate on the social and cultural possibilities and tensions it manifests."
    </p>

  </section>


  <section id="section-2">
    <div class="media-container">
      <figure class="media">
        <img src={b1.src} alt="book page 1">
      </figure>
      <small></small>
    </div>
  </section>


  <section id="section-hero">
    <div class="media-container">
      <figure class="media">
        <img src={b3.src} alt="book page 3">
      </figure>
      <small></small>
    </div>
  </section>
  


  <section id="section-0">
    <div class="media-container">
      <figure class="media">
        <img src={b15.src} alt="diana">
      </figure>
      <small></small>
    </div>
    <div class="media-container">
      <figure class="media">
        <img src={b5.src} alt="diana">
      </figure>
      <small></small>
    </div>
    <div class="media-container">
      <figure class="media">
        <img src={b20.src} alt="diana">
      </figure>
      <small></small>
    </div>
  </section>


  
  <section id="section-hero">
    <div class="media-container">
      <figure class="media">
        <img src={b4.src} alt="book page 4">
      </figure>
      <small></small>
    </div>
  </section>
  
  
  <section id="section-hero">
    <div class="media-container">
      <figure class="media">
        <img src={b7.src} alt="book page 7">
      </figure>
      <small></small>
    </div>
  </section>
  
  <section id="section-hero">
    <div class="media-container">
      <figure class="media">
        <img src={b8.src} alt="book page 8">
      </figure>
      <small></small>
    </div>
  </section>
  
  <section id="section-hero">
    <div class="media-container">
      <figure class="media">
        <img src={b9.src} alt="book page 9">
      </figure>
      <small></small>
    </div>
  </section>
  
  <section id="section-hero">
    <div class="media-container">
      <figure class="media">
        <img src={b10.src} alt="book page 10">
      </figure>
      <small></small>
    </div>
  </section>
  
  <section id="section-hero">
    <div class="media-container">
      <figure class="media">
        <img src={b11.src} alt="book page 11">
      </figure>
      <small></small>
    </div>
  </section>
  
  <section id="section-hero">
    <div class="media-container">
      <figure class="media">
        <img src={b12.src} alt="book page 12">
      </figure>
      <small></small>
    </div>
  </section>
  
  <section id="section-0">
    <div class="media-container">
      <figure class="media">
        <img src={b19.src} alt="book page 13">
      </figure>
      <small></small>
    </div>
    <div class="media-container">
      <figure class="media">
        <img src={b13.src} alt="book page 19">
      </figure>
      <small></small>
    </div>
  </section>
  
  <section id="section-hero">
    <div class="media-container">
      <figure class="media">
        <img src={b14.src} alt="book page 14">
      </figure>
      <small></small>
    </div>
  </section>
  
  
  <section id="section-hero">
    <div class="media-container">
      <figure class="media">
        <img src={b16.src} alt="book page 16">
      </figure>
      <small></small>
    </div>
  </section>
  
  <section id="section-hero">
    <div class="media-container">
      <figure class="media">
        <img src={b17.src} alt="book page 17">
      </figure>
      <small></small>
    </div>
  </section>
  
  <section id="section-hero">
    <div class="media-container">
      <figure class="media">
        <img src={b18.src} alt="book page 18">
      </figure>
      <small></small>
    </div>
  </section>
  

  
  
  <section id="section-hero">
    <div class="media-container">
      <figure class="media">
        <img src={b21.src} alt="book page 21">
      </figure>
      <small></small>
    </div>
  </section>
  
  <section id="section-hero">
    <div class="media-container">
      <figure class="media">
        <img src={b22.src} alt="book page 22">
      </figure>
      <small></small>
    </div>
  </section>
  
  <section id="section-hero">
    <div class="media-container">
      <figure class="media">
        <img src={b23.src} alt="book page 23">
      </figure>
      <small></small>
    </div>
  </section>

  <section id="section-2">
    <div class="media-container">
      <figure class="media">
        <img src={b2.src} alt="book page 2">
      </figure>
      <small></small>
    </div>
  </section>

  <script>
    function getRandomWidth() {
        return Math.floor(Math.random() * 70) + 10; // Width between 10px and 300px
    }

    function createRandomDivs(parent) {
        // Clear existing divs
        parent.innerHTML = '';

        // Create a random number of divs between 3 and 10
        const numberOfDivs = Math.floor(Math.random() * 2) + 3;

        for (let i = 0; i < numberOfDivs; i++) {
            const div = document.createElement('div');
            div.className = 'line';

            // Randomize width
            div.style.width = getRandomWidth() + 'px';
            
            // Randomize background color
            div.style.backgroundColor = Math.random() < 0.5 ? 'black' : 'transparent';

            parent.appendChild(div);
        }
    }

    function randomizePattern(container) {
        const levels = container.querySelectorAll('.lvl1, .lvl2');
        levels.forEach(level => {
            createRandomDivs(level);
        });
    }

    function initializePatternGenerator(containerId) {
        const container = document.getElementById(containerId);
        randomizePattern(container);
        container.addEventListener('click', () => randomizePattern(container));
    }

    // Initialize pattern generators for each container
    initializePatternGenerator('pattern1');
    initializePatternGenerator('pattern2');
    initializePatternGenerator('pattern3');
</script>










      




</MainLayout>

