---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/basic-grid.css';
import '../styles/proj-images_comp.css';
import '../styles/header.css';
import '../styles/lines.css';


import comp1 from '../media/ex_1.png';
import comp2 from '../media/ex_2.png';
import comp3 from '../media/ex_3.png';
import comp4 from '../media/ex_4.png';
import comp5 from '../media/gold.png';
import comp6 from '../media/lf.png';
import comp7 from '../media/sc.png';
import comp8 from '../media/ss.png';
import comp9 from '../media/table_anim.gif';
import comp10 from '../media/gk.png';
import comp11 from '../media/peafowl.png';
import comp12 from '../media/sheep.png';
import comp13 from '../media/zine.jpeg';
import comp14 from '../media/aoki1.png';
import comp15 from '../media/aoki2.png';
import comp16 from '../media/aoki4.png';
import comp17 from '../media/corrugatedfolly.png';
import comp18 from '../media/corrugatedfolly2.png';
import comp19 from '../media/corrugatedfolly3.png';
import comp20 from '../media/table_1.png';
import comp21 from '../media/table_9.png';
import comp22 from '../media/DGlettuce3.png';
import comp23 from '../media/DG4.png';
import comp24 from '../media/chair5.png';
import comp25 from '../media/DGseries3.png';
import comp26 from '../media/pea.png';
import comp27 from '../media/iac.gif';
import comp28 from '../media/lud1.gif';
import comp29 from '../media/Projects/vanity/v_2.jpeg';






---

<MainLayout title="work">


  <header class="main-header">
    <nav class="navigation">
        <ul>
            <li><a href="/" class="nav-link">~DOMINIC RISHE</a></li>
        </ul>
        <ul class="nav-links-right">
            <li><a href="/work/" class="nav-link">WORK</a></li>
            <!-- Add more links here if needed -->
        </ul>
    </nav>
</header>



  <section id="section-hero">
    <h2>
      <small></small>
      <!-- <span>SUMMER 2024 / GARFAGNANA, IT</span> -->
      <strong>VISUAL COMPOST PILE</strong>
    </h2>
    <div class="media-container">
      <figure class="media">
        <img src={comp20.src} alt="fashion">
      </figure>
      <small></small>
    </div>
    <div class="pattern-container" id="pattern1">
      <div class="lvl1"></div>
      <div class="lvl2"></div>
  </div>
  </div>
    <p class="text">
      This page is a collection of scraps, experiments, and one-offs that don't feat neatly into curated project narratives and yet are a vital part of my creative process. Some were the outputs of learning new skills, or pure play, or conceptual explorations. Almost all of them were stepping stones and turning points on the way to more complete thoughts and projects. 
    </p>

  </section>

  <section id="section-5">
    <div class="media-container">
      <figure class="media">
        <img src={comp18.src} alt="diana">
      </figure>
      <small></small>
    </div>
    <div class="media-container">
      <figure class="media">
        <img src={comp17.src} alt="diana">
      </figure>
      <small></small>
    </div>
    <div class="media-container">
      <figure class="media">
        <img src={comp19.src} alt="diana">
      </figure>
      <small></small>
    </div>
  </section>



  <section id="section-centered">
    <div class="media-container">
      <figure class="media">
        <img src={comp27.src} alt="diana">
      </figure>
      <small></small>
    </div>
    <div class="media-container">
      <figure class="media">
        <img src={comp5.src} alt="abuelo">
      </figure>
      <small></small>
    </div>
  </section>




  <section id="section-0">
    <div class="media-container">
      <figure class="media">
        <img src={comp15.src} alt="diana">
      </figure>
      <small></small>
    </div>
    <div class="media-container">
      <figure class="media">
        <img src={comp14.src} alt="diana">
      </figure>
      <small></small>
    </div>
    <div class="media-container">
      <figure class="media">
        <img src={comp16.src} alt="diana">
      </figure>
      <small></small>
    </div>
  </section>



  <section id="section-1">
    <div class="media-container">
      <figure class="media">
        <img src={comp9.src} alt="tricycle">
      </figure>
      <small></small>
    </div>
    <div class="media-container">
      <figure class="media">
        <img src={comp11.src} alt="building">
      </figure>
      <small></small>
    </div>
  </section>

  <section id="section-2">
    <div class="media-container">
      <figure class="media">
        <img src={comp10.src} alt="tote bag">
      </figure>
      <small></small>
    </div>
  </section>

  <section id="section-centered">
    <div class="media-container">
      <figure class="media">
        
      </figure>
      <small></small>
    </div>
    <div class="media-container">
      <figure class="media">
        <img src={comp12.src} alt="building">
      </figure>
      <small></small>
    </div>
  </section>


  <section id="section-4">
    <div class="media-container">
      <figure class="media">
        <img src={comp23.src} alt="bird">
      </figure>
      <small></small>
    </div>
  </section>

  <section id="section-0">
    <div class="media-container">
      <figure class="media">
        <img src={comp21.src} alt="diana">
      </figure>
      <small></small>
    </div>
    <div class="media-container">
      <figure class="media">
        <img src={comp3.src} alt="diana">
      </figure>
      <small></small>
    </div>
    <div class="media-container">
      <figure class="media">
        <img src={comp24.src} alt="diana">
      </figure>
      <small></small>
    </div>
  </section>

  <section id="section-centered">
    <div class="media-container">
      <figure class="media">
        <img src={comp4.src} alt="tricycle">
      </figure>
      <small></small>
    </div>
    <div class="media-container">
      <figure class="media">
        <img src={comp26.src} alt="building">
      </figure>
      <small></small>
    </div>
  </section>

  <section id="section-4">
    <div class="media-container">
      <figure class="media">
        <img src={comp28.src} alt="bird" style="max-height: 70vh;">
      </figure>
      <small></small>
    </div>
  </section>

  <section id="section-0">
    <div class="media-container">
      <figure class="media">
        <img src={comp1.src} alt="diana">
      </figure>
      <small></small>
    </div>
    <div class="media-container">
      <figure class="media">
        <img src={comp7.src} alt="diana">
      </figure>
      <small></small>
    </div>
    <div class="media-container">
      <figure class="media">
        <img src={comp2.src} alt="diana">
      </figure>
      <small></small>
    </div>
  </section>

  <section id="section-2">
    <div class="media-container">
      <figure class="media">
        <img src={comp8.src} alt="tote bag">
      </figure>
      <small></small>
    </div>
  </section>

  <section id="section-centered">
    <div class="media-container">
      <figure class="media">
        <img src={comp13.src} alt="tricycle">
      </figure>
      <small></small>
    </div>
    <div class="media-container">
      <figure class="media">
        <img src={comp22.src} alt="building">
      </figure>
      <small></small>
    </div>
  </section>

  <section id="section-centered">
    <div class="media-container">
      <figure class="media">
        <img src={comp29.src} alt="building">
      </figure>
      <small></small>
    </div>
    <div class="media-container">
      <figure class="media">

      </figure>
      <small></small>
    </div>
  </section>


  <script>
    function getRandomWidth() {
        return Math.floor(Math.random() * 70) + 10; // Width between 10px and 300px
    }

    function createRandomDivs(parent) {
        // Clear existing divs
        parent.innerHTML = '';

        // Create a random number of divs between 3 and 10
        const numberOfDivs = Math.floor(Math.random() * 2) + 3;

        for (let i = 0; i < numberOfDivs; i++) {
            const div = document.createElement('div');
            div.className = 'line';

            // Randomize width
            div.style.width = getRandomWidth() + 'px';
            
            // Randomize background color
            div.style.backgroundColor = Math.random() < 0.5 ? 'black' : 'transparent';

            parent.appendChild(div);
        }
    }

    function randomizePattern(container) {
        const levels = container.querySelectorAll('.lvl1, .lvl2');
        levels.forEach(level => {
            createRandomDivs(level);
        });
    }

    function initializePatternGenerator(containerId) {
        const container = document.getElementById(containerId);
        randomizePattern(container);
        container.addEventListener('click', () => randomizePattern(container));
    }

    // Initialize pattern generators for each container
    initializePatternGenerator('pattern1');
    initializePatternGenerator('pattern2');
    initializePatternGenerator('pattern3');
</script>










      




</MainLayout>

