---
import EmptyLayout from '../layouts/Layout.astro';

import iac from '../media/iac.gif';
import lud from '../media/lud1.gif';
import ig from '../media/Instagram_Glyph_Black.svg';
import fc from '../media/fc_logo.svg';
import x from '../media/x.png';
import li from '../media/li.svg';
import zora from '../media/zorb.png';

import camo from '../media/camo.jpeg';
import smc from '../media/smc.jpeg';
import gold from '../media/gold.png';
import table from '../media/table.png';
import quilt from '../media/q.jpeg';

import ex_1 from '../media/ex_1.png';
---

<EmptyLayout title="Dom">

    <style>
		@font-face {
    font-family: 'Compagnon Medium';
    src: url('/fonts/Comp/Compagnon-Medium.eot') format('eot'),
         url('/fonts/Comp/Compagnon-Medium.woff') format('woff'),
         url('/fonts/Comp/Compagnon-Medium.woff2') format('woff2');
    font-weight: medium;
    font-style: medium;
  }



		svg {
			/* border: solid red; */
			display: block;
			margin: auto;
		
		}
		
		body {
			background-color: #F4F0EC;
		
		}

        .link {
        font-weight: 500;
        font-style: normal;
        }

        .eb-garamond-unique {
        font-family: "EB Garamond", serif;
        font-optical-sizing: auto;
        font-weight: 600; /* Adjust the weight as needed */
        font-style: normal;
        }


        .headline {
        text-align: center;
        /* font-family: "Georgia", monospace;
        font-weight: 10; */
        font-size: 1rem;
        margin: 77px auto;
        max-width: 600px; /* Adjust this width as needed */
        color: #272520;

        font-family: "EB Garamond", serif;
        font-optical-sizing: auto;
        font-weight: 400; /* Adjust the weight as needed */
        font-style: italic;
        }


        .social-media a {
            margin: 0 10px;
            display: inline-block;
        }

        .social-media img {
            width: 20px;
            height: 20px;
        }
		
		.rotator {
			transform-box: fill-box;
			transform-origin: 50% 50%;
		}

        .slideshow-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 500px; /* Set a fixed height for the container */
            margin: 0 auto;
            width: 100%;
        }

        #slideshow {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain; /* Maintain aspect ratio and fit within the container */
        }
                
		#clock {
	animation: rotate-clockwise 5.75s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

#counter {
	animation: rotate-counter-clockwise 5.75s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}
		
		#bg {
			/* animation: switch 14s infinite step-end; */
		}
		
		@keyframes rotate-clockwise {
    0%, 10% {
        transform: rotate(0deg);
    }
    10%, 20% {
        transform: rotate(90deg);
    }
    20%, 30% {
        transform: rotate(90deg);
    }
    30%, 40% {
        transform: rotate(180deg);
    }
    40%, 50% {
        transform: rotate(180deg);
    }
    50%, 60% {
        transform: rotate(270deg);
    }
    60%, 80% {
        transform: rotate(270deg);
    }
    80%, 100% {
        transform: rotate(360deg);
    }

}

@keyframes rotate-counter-clockwise {
    0%, 10% {
        transform: rotate(0deg);
    }
    10%, 20% {
        transform: rotate(-90deg);
    }
    20%, 30% {
        transform: rotate(-90deg);
    }
    30%, 40% {
        transform: rotate(-180deg);
    }
    40%, 50% {
        transform: rotate(-180deg);
    }
    50%, 60% {
        transform: rotate(-270deg);
    }
    60%, 80% {
        transform: rotate(-270deg);
    }
    80%, 100% {
        transform: rotate(-360deg);
    }
}
		
		@keyframes switch {
			0% {background-color: #B4ABFF;}
			10% {background-color: #D8F4C3;}
			22.5% {background-color: #EE8678;}
			35% {background-color: #D9FEA3;}
			47.5% {background-color: #FEEA73;}
			60% {background-color: #35F2B0;}
			72.5% {background-color: #31B5FF;}
			85% {background-color: #F89CCC;}
			97.5% {background-color: #B4ABFF;}
		
			
		}

		.status-text {
    font-family: 'Compagnon Medium';
    line-height: 1rem;
    font-size: 0.9rem;
	text-align: center;
	color: black;

}

.status-text a {
  text-decoration: underline;
  color: black;
}

.status-text a:hover {
  font-style: italic;
  cursor: pointer;
}

a:visited {
	color: black
}
		
			</style>
		</head>
		<body id="bg">
		
			<svg viewBox="0 0 200 80" style="width:200px; height:200px; transform: scale(0.70); transform-origin: center;">
				<rect id="clock" class="rotator" x="10" y="10" width="30" height="30" fill="black"/>
				<rect id="counter" class="rotator" x="10" y="40" width="30" height="30" fill="black"/>
				<rect id="clock" class="rotator" x="130" y="40" width="30" height="30" fill="black"/>
				<rect id="counter" class="rotator" x="160" y="40" width="30" height="30" fill="black"/>
				<path id="counter" class="rotator" d="M 40 40 L 70 40 A 30 30 0 0 0 40 10 Z" fill="black"/>
				<path id="clock" class="rotator" d="M 40 40 L 70 40 A 30 30 0 0 1 40 70 Z" fill="black"/>
				<path id="counter" class="rotator" d="M 100 40 L 70 40 A 30 30 0 0 1 100 10 Z" fill="black"/>
				<path id="clock" class="rotator" d="M 100 40 L 130 40 A 30 30 0 0 0 100 10 Z" fill="black"/>
				<path id="counter" class="rotator" d="M 100 40 L 130 40 A 30 30 0 0 1 100 70 Z" fill="black"/>
				<path id="clock" class="rotator" d="M 100 40 L 70 40 A 30 30 0 0 0 100 70 Z" fill="black"/>
				<path id="counter" class="rotator" d="M 130 40 L 130 10 A 30 30 0 0 1 160 40 Z" fill="black"/>
				<path id="clock" class="rotator" d="M 190 40 L 160 40 A 30 30 0 0 1 190 10 Z" fill="black"/>
			</svg>
            
            <!-- <p class="name-text" style="text-align: center; font-family: 'IBM Plex Mono'; font-size: 1.2rem; color: black; margin-top: -80px;">
                Dominic Rishe
            </p> -->

            <div class="slideshow-container">
                <img id="slideshow" src={lud.src} alt="Description of image">
              </div>

            <div class="headline">
                <p>
                    Dom Rishe is a designer, engineer, creative technologist, and craftsperson.
                </p>
                <p>
                    He's spent the last year exploring the intersections of traditional craft and emerging digital cultures as part of a Master's program at the Rhode Island School of Design. This research culminated in his thesis project 
                    <a href="https://publications.risdmuseum.org/grad-show-2024-industrial-design/dominic-rishe">
                    <span class="link">One of One of A Kind</span></a>, a collection of long-form generative objects and an accompanying series of essays on the social and cultural possibilites afforded by new digital tools like AI, blockchain, generative design, and digital fabrication. 
                </p>
                <p>
                    Previously he worked as an engineer developing communications systems for ships and helicopters.
                </p>
                <p>
                    For the summer of 2024 he is participating in the Digital Stone Project in Garfagnana, Italy.
                </p>
                <p style="margin-top: 50px; margin-bottom: 50px; "> & </p>

                <p style="margin-bottom: 20px;">
                    CONNECT
                </p>
                <p>
                    <a href="https://drive.google.com/file/d/1jntKY1r28zIzwDetaXiyVlXfAhZCJf2u/view?usp=share_link">Resume/CV</a>
                </p>
                <div class="social-media">
                    <a href="https://www.linkedin.com/in/dominic-rishe-03501381/" target="_blank">
                        <img src={li.src} alt="LinkedIn">
                    </a>
                    <a href="https://www.instagram.com/nouveau_rishe" target="_blank">
                        <img src={ig.src} alt="Instagram">
                    </a>
                    <a href="https://warpcast.com/onchaindom.eth" target="_blank">
                        <img src={fc.src} alt="Farcaster">
                    </a>
                    <a href="https://zora.co/@onchaindom" target="_blank">
                        <img src={zora.src} alt="Zora">
                    </a>
                    <a href="https://twitter.com/nouveau_rishe" target="_blank">
                        <img src={x.src} alt="X">
                    </a>
                </div>
            </div>

			
		</body>

        <script define:vars={{ lud, iac, table, camo, gold, smc, quilt, ex_1 }}>
            // Array of imported images
            const images = [
              { src: lud.src, alt: 'Description of lud' },
              { src: iac.src, alt: 'Description of iac' },
              { src: table.src, alt: 'Description of iac' },
              { src: camo.src, alt: 'Description of iac' },
              { src: gold.src, alt: 'Description of iac' },
              { src: smc.src, alt: 'Description of iac' },
              { src: quilt.src, alt: 'Description of iac' },
              { src: ex_1.src, alt: 'Description of iac' }
            ];
          
            let currentIndex = 0;
            const slideshowElement = document.getElementById('slideshow');
          
            function changeImage() {
              currentIndex = (currentIndex + 1) % images.length;
              const { src, alt } = images[currentIndex];
              slideshowElement.src = src;
              slideshowElement.alt = alt;
            }
          
            // Change image every 3 seconds
            setInterval(changeImage, 3000);
          </script>


</MainLayout>

