---
import EmptyLayout from '../layouts/Layout.astro';


import ig from '../media/Instagram_Glyph_Black.svg';
import fc from '../media/fc_logo.svg';
import x from '../media/x.png';
import li from '../media/li.svg';
import zora from '../media/zorb.png';

import camo from '../media/camo.jpeg';
import smc from '../media/smc.jpeg';
import gold from '../media/gold.png';
import table from '../media/table.png';
import quilt from '../media/q.jpeg';
import iac from '../media/iac.gif';
import lud from '../media/lud1.gif';
import ex_1 from '../media/ex_1.png';
import w4 from '../media/Projects/weather/w_4.gif';
import gan from '../media/gan.gif';
import gp6 from '../media/gp_6.jpg';
import mr from '../media/Projects/myrisd/myRISD.gif';
import ind from '../media/in.jpeg';
import ar from '../media/ar.gif';
import dd from '../media/dd_1.jpg';
import ta from '../media/table_anim.gif';
import lf from '../media/lf.png';
import b from '../media/b.jpg';
import dr from '../media/droste.gif';
import sc from '../media/sc.png';
---

<EmptyLayout title="Dom">

    <style>
		@font-face {
    font-family: 'Compagnon Medium';
    src: url('/fonts/Comp/Compagnon-Medium.eot') format('eot'),
         url('/fonts/Comp/Compagnon-Medium.woff') format('woff'),
         url('/fonts/Comp/Compagnon-Medium.woff2') format('woff2');
    font-weight: medium;
    font-style: medium;
  }



		svg {
			display: block;
			margin: auto;
		}

		
		body {
			background-color: #F4F0EC;
		}

        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        .container {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(5, 1fr);
            height: 100vh;
            width: 100vw;
            /* height: 60vh; */
            position: relative;
            gap: 0px;
            padding-top: 50px;
            box-sizing: border-box;
            margin-top: -100px;

        }

        .grid-item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            
        }
        .grid-item img {
            width: 90%;
            height: 60%;
            object-fit: contain;
        }

        .overlay {
            position: relative;
            z-index: 2;
        }

        .eb-garamond-unique {
        font-family: "EB Garamond", serif;
        font-optical-sizing: auto;
        font-weight: 600; 
        font-style: normal;
        }

        .overlay-text {
            font-family: "EB Garamond", serif;
            font-optical-sizing: auto;
            font-weight: 1000; /* Adjust the weight as needed */
            font-style: italic;
            font-size: 5rem;
            margin: auto;
            text-align: center;
            

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: auto;
            padding-top: 40px;
            padding-bottom: 200px;
            /* line-height: 6rem; */
            /* color: yellow; */
            /* filter: blur(8px); */
        }


        @media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }

    .overlay-text {
        font-size: 3rem;
    }

}





        .headline {
        text-align: center;
        font-size: 1rem;
        margin: 77px auto;
        max-width: 600px; 
        color: #272520;

        font-family: "EB Garamond", serif;
        font-optical-sizing: auto;
        font-weight: 400; 
        font-style: italic;
        }

        .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 1rem;
        margin: 20px auto;
        max-width: 600px; 
        color: #272520;

        font-family: "EB Garamond", serif;
        font-optical-sizing: auto;
        font-weight: 400; 
        font-style: italic;
        }


        .social-media a {
            margin: 0 10px;
            display: inline-block;
        }

        .social-media img {
            width: 20px;
            height: 20px;
        }
		
		.rotator {
			transform-box: fill-box;
			transform-origin: 50% 50%;
		}
                
		#clock {
	    animation: rotate-clockwise 9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
        }

        #counter {
            animation: rotate-counter-clockwise 9s cubic-bezier(0.42, 0, 0.58, 1) infinite;
        }
		
		#bg {
			/* animation: switch 14s infinite step-end; */
		}
		
		@keyframes rotate-clockwise {
    0%, 10% {
        transform: rotate(0deg);
    }
    10%, 20% {
        transform: rotate(90deg);
    }
    20%, 30% {
        transform: rotate(90deg);
    }
    30%, 40% {
        transform: rotate(180deg);
    }
    40%, 50% {
        transform: rotate(180deg);
    }
    50%, 60% {
        transform: rotate(270deg);
    }
    60%, 80% {
        transform: rotate(270deg);
    }
    80%, 100% {
        transform: rotate(360deg);
    }

}

@keyframes rotate-counter-clockwise {
    0%, 10% {
        transform: rotate(0deg);
    }
    10%, 20% {
        transform: rotate(-90deg);
    }
    20%, 30% {
        transform: rotate(-90deg);
    }
    30%, 40% {
        transform: rotate(-180deg);
    }
    40%, 50% {
        transform: rotate(-180deg);
    }
    50%, 60% {
        transform: rotate(-270deg);
    }
    60%, 80% {
        transform: rotate(-270deg);
    }
    80%, 100% {
        transform: rotate(-360deg);
    }
}
		
		@keyframes switch {
			0% {background-color: #B4ABFF;}
			10% {background-color: #D8F4C3;}
			22.5% {background-color: #EE8678;}
			35% {background-color: #D9FEA3;}
			47.5% {background-color: #FEEA73;}
			60% {background-color: #35F2B0;}
			72.5% {background-color: #31B5FF;}
			85% {background-color: #F89CCC;}
			97.5% {background-color: #B4ABFF;}
		
			
		}


a:visited {
	color: black
}
		
			</style>
		</head>
		<body id="bg">
		<a href="/">
			<svg viewBox="0 0 200 80" style="width:200px; height:100px; transform: scale(0.70); transform-origin: center;">
				<rect id="clock" class="rotator" x="10" y="10" width="30" height="30" fill="#black"/>
				<rect id="counter" class="rotator" x="10" y="40" width="30" height="30" fill="#black"/>
				<rect id="clock" class="rotator" x="130" y="40" width="30" height="30" fill="#black"/>
				<rect id="counter" class="rotator" x="160" y="40" width="30" height="30" fill="#black"/>
				<path id="counter" class="rotator" d="M 40 40 L 70 40 A 30 30 0 0 0 40 10 Z" fill="#black"/>
				<path id="clock" class="rotator" d="M 40 40 L 70 40 A 30 30 0 0 1 40 70 Z" fill="#black"/>
				<path id="counter" class="rotator" d="M 100 40 L 70 40 A 30 30 0 0 1 100 10 Z" fill="#black"/>
				<path id="clock" class="rotator" d="M 100 40 L 130 40 A 30 30 0 0 0 100 10 Z" fill="#black"/>
				<path id="counter" class="rotator" d="M 100 40 L 130 40 A 30 30 0 0 1 100 70 Z" fill="#black"/>
				<path id="clock" class="rotator" d="M 100 40 L 70 40 A 30 30 0 0 0 100 70 Z" fill="#black"/>
				<path id="counter" class="rotator" d="M 130 40 L 130 10 A 30 30 0 0 1 160 40 Z" fill="#black"/>
				<path id="clock" class="rotator" d="M 190 40 L 160 40 A 30 30 0 0 1 190 10 Z" fill="#black"/>
			</svg></a>



            <div class="container">
                <div class="grid-item"><img src={lud.src} alt="Grid Image 1"></div>
                <div class="grid-item overlay"><img src={camo.src} alt="Grid Image 2"></div>
                <div class="grid-item"><img src={smc.src} alt="Overlay Image 1"></div>
                <div class="grid-item"><img src={table.src} alt="Grid Image 4"></div>
                <div class="grid-item"><img src={gold.src} alt="Grid Image 6"></div>
                <div class="grid-item overlay"><img src={iac.src} alt="Grid Image 5"></div>
                
                <div class="grid-item"><img src={quilt.src} alt="Grid Image 7"></div>
                <div class="grid-item"><img src={ex_1.src} alt="Grid Image 8"></div>
                <div class="grid-item overlay"><img src={gan.src} alt="Overlay Image 2"></div>
                <div class="grid-item"><img src={w4.src} alt="Grid Image 9"></div>
                <div class="grid-item"><img src={gp6.src} alt="Grid Image 11"></div>
                <div class="grid-item overlay"><img src={ind.src} alt="Grid Image 12"></div>
                <div class="grid-item"><img src={mr.src} alt="Grid Image 12"></div>
                
                <div class="grid-item"><img src={ar.src} alt="Grid Image 12"></div>
                <div class="grid-item"><img src={dd.src} alt="Grid Image 12"></div>
                <div class="grid-item"><img src={ta.src} alt="Grid Image 12"></div>
                <div class="grid-item overlay"><img src={b.src} alt="Grid Image 12"></div>
                <div class="grid-item"></div>
                <div class="grid-item"><img src={lf.src} alt="Grid Image 12"></div>
                <div class="grid-item"><img src={dr.src} alt="Grid Image 12"></div>
                <div class="grid-item"><img src={sc.src} alt="Grid Image 12"></div>
                
            </div>


            
            <div class="overlay-text">
                <p>
                    Dominic Rishe is a designer, engineer, creative technologist, and craftsperson.
                </p>
                <p>
                    He's spent the last year exploring the intersections of traditional craft and emerging digital cultures as part of a Master's program at the Rhode Island School of Design. This research culminated in his thesis project 
                    <a href="https://publications.risdmuseum.org/grad-show-2024-industrial-design/dominic-rishe" target="_blank">
                    <span class="link">One of One of A Kind</span></a>, a collection of long-form generative objects and an accompanying series of essays on the social and cultural possibilities afforded by new digital tools like AI, blockchain, generative design, and digital fabrication. 
                </p>
                <p>
                    His work looks for a synthesis of old and new, digital and physical, technical and meaningful, and covers a wide range of media – from furniture to NFTs, textiles to interactive AI tools, working with marble to working with DAOs. 
                </p>
                <p>
                    Previously he worked as an engineer developing communication systems, mixed reality training applications, and networks for ships, helicopters, and armored vehicles.
                </p>
                <p>
                    For the summer of 2024 he is participating in the Digital Stone Project in Garfagnana, Italy, and developing a project for Design Week Mexico Inédito.
                </p>
            </div>



            <footer class="footer">

                <p style="margin-top: 30px; margin-bottom: 30px; "> & </p>

                <p style="margin-bottom: 20px;">
                    CONNECT
                </p>
                <p>
                    <a href="https://drive.google.com/file/d/1jntKY1r28zIzwDetaXiyVlXfAhZCJf2u/view?usp=share_link" target="_blank">Resume/CV</a>
                </p>
                <p>
                    <a href="/ux/">Digital Products Portfolio</a>
                </p>
                <div class="social-media">
                    <a href="https://www.linkedin.com/in/dominic-rishe-03501381/" target="_blank">
                        <img src={li.src} alt="LinkedIn">
                    </a>
                    <a href="https://www.instagram.com/nouveau_rishe" target="_blank">
                        <img src={ig.src} alt="Instagram">
                    </a>
                    <a href="https://warpcast.com/onchaindom.eth" target="_blank">
                        <img src={fc.src} alt="Farcaster">
                    </a>
                    <a href="https://zora.co/@onchaindom" target="_blank">
                        <img src={zora.src} alt="Zora">
                    </a>
                    <a href="https://twitter.com/nouveau_rishe" target="_blank">
                        <img src={x.src} alt="X">
                    </a>
                </div>
            </footer>





			
		</body>



</MainLayout>

