---
import MainLayout from '../layouts/MainLayout.astro';
import '../styles/basic-grid.css';
import {Picture} from "@astrojs/image/components";
//images
import dd_1 from '../media/dd_1.jpg';
import lepta_thumb from '../media/lepta_1.png';
import gp_3 from '../media/gp_3.jpg';
import w_5 from '../media/w_5.gif';
import ex_1 from '../media/ex_1.png';
import myRISD_1_thumb from '../media/myRISD_1_thumb.png';
import v_1_thumb from '../media/v_1_thumb.png';
import c_6 from '../media/c_3.jpeg';
import co_1 from '../media/co_1.png';

import iac from '../media/iac.gif';
import lud from '../media/lud1.gif';
import camo from '../media/camo.jpeg';
import smc from '../media/smc.jpeg';
import gold from '../media/gold.png';
import table from '../media/table.png';
import quilt from '../media/q.jpeg';


const images = [
  {
    src: lud.src,
    alt: 'Description of image 1',
    link: 'https://publications.risdmuseum.org/grad-show-2024-industrial-design/dominic-rishe',
	caption: '+++'
  },
  {
    src: camo.src,
    alt: 'Description of image 3',
    link: 'https://publications.risdmuseum.org/grad-show-2024-industrial-design/dominic-rishe',
	caption: '!!!'
  },
  {
    src: smc.src,
    alt: 'Description of image 2',
    link: 'https://publications.risdmuseum.org/grad-show-2024-industrial-design/dominic-rishe',
	caption: '&&&'
  },
  {
    src: quilt.src,
    alt: 'Description of image 3',
    link: 'https://publications.risdmuseum.org/grad-show-2024-industrial-design/dominic-rishe',
	caption: '///'
  },
  {
    src: iac.src,
    alt: 'Description of image 3',
    link: 'https://publications.risdmuseum.org/grad-show-2024-industrial-design/dominic-rishe',
	caption: '???'
  },
  {
    src: table.src,
    alt: 'Description of image 3',
    link: '/page3',
	caption: '↑↑↑'
  },
  {
    src: gp_3.src,
    alt: 'Description of image 3',
    link: '../projects/ganpaign/',
	caption: '///'
  },
  {
    src: gold.src,
    alt: 'Description of image 3',
    link: 'https://publications.risdmuseum.org/grad-show-2024-industrial-design/dominic-rishe',
	caption: '$$$'
  },
    {
    src: dd_1.src,
    alt: 'Description of image 3',
    link: '../projects/daydream/',
	caption: '###'
  },
  {
    src: ex_1.src,
    alt: 'Description of image 3',
    link: '../projects/experiments/',
	caption: '###'
  },


  // Add more images as needed
];

---

<MainLayout title="Portfolio - Dom">

	<style>
		body {
		  font-family: 'IBM Plex Mono';
		  margin: 0;
		  padding: 0;
		  display: flex;
		  flex-wrap: wrap;
		  justify-content: center;
		  background-color: #f0f0f0;
		}

		.header {
			width: 100%;
			padding: 20px;
			box-sizing: border-box;
			text-align: center;
			margin-bottom: 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
			
		.portfolio-item {
		  margin: 10px;
		  overflow: hidden;
		  width: 300px;
		  display: flex;
		  flex-direction: column;
		  align-items: center;
		}
	  
		.portfolio-item img {
		  width: 100%;
		  height: auto;
		  display: block;
		}
	  
		.portfolio-item a {
		  text-decoration: none;
		  color: inherit;
		}
	  
		.caption {
		  margin-top: 5px;
		  color: black;
		  padding: 2px 5px;
		  width: calc(100% - 10px);
		  text-align: right;
		  font-family: 'IBM Plex Mono';
   		  font-size: 0.8rem;
		}
	  </style>
	  
	  <body>
		<div class="header">
			<p></p>
		  </div>
		<section class="basic-grid">
		{images.map(image => (
		
		  <div class="portfolio-item">
			<a href={image.link}>
			  <img src={image.src} alt={image.alt} />
			</a>
			<div class="caption">{image.caption}</div>
		  </div>
	
		))}	
		</section>
	  </body>

</MainLayout>

